<div class="container">
        <div class="marNav">
            <span>20/12/2018 17:56(GMT+8)</span>
            <span>
                <marquee direction="left">Stay tuned on our New Casino Games on every week. Be the first to feel the
                    thrill and
                    experience on our new branded games every week.</marquee>
            </span>
        </div>
        <div class="row">
            <div class="col-sm-3 tbheading">
                <h3>PROMOTIONS</h3>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1"><img src="../../assets/img/tabs/1.png" />NEW
                            MEMBERS</a></li>
                    <li><a href="#menu2"><img src="../../assets/img/tabs/2.png" />REBATE</a></li>
                    <li><a routerLink="#menu4"><img class="mobi" src="../../assets/img/tabs/3.png" />MOBILE</a></li>
                    <li><a href="#menu4"><img src="../../assets/img/tabs/4.png" />CASINO</a></li>
                    <li><a href="#menu5"><img src="../../assets/img/tabs/5.png" />SPORTS</a></li>
                    <li><a href="#menu6"><img src="../../assets/img/tabs/6.png" />CASINO GAMES</a></li>
                    <li><a href="#menu7"><img src="../../assets/img/tabs/7.png" />HOT</a></li>
                    <li><a href="#menu8"><img src="../../assets/img/tabs/8.png" />VIP MEMBERS</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
    
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="whitecon">
    
                            <h3>NEW MEMBERS PROMOTIONS</h3>
                            <div class="listing">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <img src="../../assets/img/tabs/bigwin.png" />
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>300% PLAYTECH SLOTS
                                            SIGN UP BONUS FOR
                                            NEW MEMBERS ONLY</h5>
                                        <div class="blackDi"></div>
                                        <button>JOIN NOW</button>
                                        <button class="moreInfoButton">MORE INFO</button>
                                    </div>
                                </div>
                            </div>
                            <div class="listing">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <img src="../../assets/img/binco.png" />
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>300% PLAYTECH SLOTS
                                            SIGN UP BONUS FOR
                                            NEW MEMBERS ONLY</h5>
                                        <div class="blackDi"></div>
                                        <button>JOIN NOW</button>
                                        <button class="moreInfoButton">MORE INFO</button>
                                    </div>
                                </div>
                            </div>
                            <div class="contentmain" id="menu5">
                                <h6>100% CASINO SIGN UP BONUS FOR NEW MEMBERS ONLY</h6>
                                <h6>Requirement:</h6>
                                <p>Min Deposit: 10USD (MYR 33).
                                    Max Bonus Payout: 100 USD (MYR400).
                                    Rollover: 20 Times deposit + bonus (on eligible games).</p>
                                <h6>Included Games:</h6>
                                <p>Live Casino and Casino Slot Games.</p>
                                <h6>Excluded Games:</h6>
                                <a href="#"><i>Click here to see game list</i></a>
                                <h6>Bonus Code:<span>(you must enter bonus code when transfer funds to the wallet)</span>
                                </h6>
                                <a href="#" class="mintab">SU100CA2016</a>
                                <a href="#" class="mintab">Live Casino & Casino Tabs</a>
                                <h6>Applicable for:</h6>
                                <p>New M88 Customer only on their first deposit during the promotional period</p>
                                <p> Customers in Malaysia, Thailand, Vietnam, Indonesia and Cambodia only</p>
                                <h6>Terms & Conditions:</h6>
                                <p>1. Promotion will start from 16th December 2018, 00:00:00 (GMT+8) until 31st December
                                    2018,
                                    23:59:59 (GMT+8).</p>
                                <p> 2. The deposit bonus is claimed during Fund Transfer to the M88 Live Casino & Casino
                                    Games
                                    wallet. Enter the preferred bonus code and submit. The free bonus is immediately
                                    credited
                                    into the chosen wallet.</p>
                                <p> 3. You may only use one sign up offer from your first deposit – you must choose which
                                    offer
                                    you want.</p>
                                <p> 4. The deposit and bonus amount has to be rolled over 20 times before withdrawal can be
                                    made.</p>
                                <p>Deposit = USD 10 (MYR 33) above.</p>
                                <p> Bonus = 100% x USD 10 (MYR 33) = USD 10 (MYR 33).</p>
                                <p> Rollover requirement = (10+10) x 20 = USD 400 (MYR 1320).</p>
                                <p>5. All draw bets, VOID bets, bets placed on two opposite sites and all bets on
                                    excluded games will not be taken into the calculation or
                                    count towards any rollover requirements.</p>
                                <p>6. Rebates will not be paid on the turnover from associated deposit and bonus money.
                                    The roll-over requirement will be deemed to have been met if the Qualified Member's
                                    account balance is USD 1(MYR 3) or less. Please contact Customer Service to arrange
                                    for a waiver of the roll-over requirement.</p>
                                <i>7. General Terms & Conditions of Promotions apply.</i>
                                <h6>100% KENO SIGN UP BONUS FOR NEW MEMBERS ONLY</h6>
                                <h6>Requirement:</h6>
                                <p>Min Deposit: 10USD (MYR 33).</p>
                                <p> Max Bonus Payout: 100 USD (MYR400).</p>
                                <p> Rollover: 12 Times deposit + bonus (on eligible games).</p>
                                <h6>Included Games:</h6>
                                <p>All Keno Games.</p>
                                <h6>Excluded Games:</h6>
                                <a href="#"><i>Click here to see game list</i></a>
                                <h6>Bonus Code: <span>(you must enter bonus code when transfer funds to the wallet)</span></h6>
                                <a href="#" class="mintab">SU100KN2016 </a>
                                <a href="#" class="mintab">Keno Tab</a>
                                <h6>Applicable for:</h6>
                                <p>New M88 Customer only on their first deposit during the promotional period</p>
                                <p>Customers in Malaysia, Thailand, Vietnam, Indonesia and Cambodia only</p>
                                <h6>Terms & Conditions:</h6>
                                <p>1. Promotion will start from 16th December 2018, 00:00:00 (GMT+8) until 31st
                                    December 2018, 23:59:59 (GMT+8).</p>
                                <p>1 2. The deposit bonus is claimed during Fund Transfer to the M88 Keno
                                    wallet. Enter the preferred bonus code and submit. The free
                                    bonus is immediately credited into the chosen wallet.</p>
                                <p>1 3. You may only use one sign up offer from your first deposit –
                                    you must choose which offer you want.</p>
                                <p>1 4. The deposit and bonus amount has to be rolled over 12 times
                                    before withdrawal can be made.</p>
                                <p>Deposit = USD 10 (MYR 33) above.</p>
                                <p> Bonus = 100% x USD 10 (MYR 33) = USD 10 (MYR 33).</p>
                                <p> Rollover requirement = (10+10) x 12 = USD 240 (MYR 792).</p>
                                <p>5.All bets placed not under the Keno tab will not be taken into the
                                    calculation or count towards any rollover requirement.</p>
                                <p>6. Rebates will not be paid on the turnover from associated deposit
                                    and bonus money. The roll-over requirement will be deemed to have
                                    been met if the Qualified Member's account balance is USD 1(MYR 3)
                                    or less. Please contact Customer Service to arrange for a waiver of
                                    the roll-over requirement.</p>
                                <i> 7. General Terms & Conditions of Promotions apply.</i>
                            </div>
                        </div>
                        <div class="whitecon" id="menu4">
    
                            <h3>NEW MEMBERS PROMOTIONS</h3>
                            <div class="listing">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <img src="../../assets/img/tabs/bigwin.png" />
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>300% PLAYTECH SLOTS
                                            SIGN UP BONUS FOR
                                            NEW MEMBERS ONLY</h5>
                                        <div class="blackDi"></div>
                                        <button>JOIN NOW</button>
                                        <button class="moreInfoButton">MORE INFO</button>
                                    </div>
                                </div>
                            </div>
                            <div class="listing">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <img src="../../assets/img/binco.png" />
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>300% PLAYTECH SLOTS
                                            SIGN UP BONUS FOR
                                            NEW MEMBERS ONLY</h5>
                                        <div class="blackDi"></div>
                                        <button>JOIN NOW</button>
                                        <button class="moreInfoButton">MORE INFO</button>
                                    </div>
                                </div>
                            </div>
                            <div class="listing">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <img src="../../assets/img/binco.png" />
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>300% PLAYTECH SLOTS
                                            SIGN UP BONUS FOR
                                            NEW MEMBERS ONLY</h5>
                                        <div class="blackDi"></div>
                                        <button>JOIN NOW</button>
                                        <button class="moreInfoButton">MORE INFO</button>
                                    </div>
                                </div>
                            </div>
                            <div class="listing">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <img src="../../assets/img/binco.png" />
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>300% PLAYTECH SLOTS
                                            SIGN UP BONUS FOR
                                            NEW MEMBERS ONLY</h5>
                                        <div class="blackDi">
                                            As part of our commitment to continuously offer the best gaming experience for
                                            our VIPs, we are introducing higher cash rebates at KENO – for VIPs only.
                                            Earn up to 1% Weekly Cash Rebate on
                                            your total bets made in KENO during the
                                            promotion period – No Roll-over.
                                        </div>
                                        <button>JOIN NOW</button>
                                        <button class="moreInfoButton">MORE INFO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="whitecontw">
                            <h3>GENERAL TERMS & CONDITIONS OF PROMOTIONS</h3>
                            <P>1. All offer is restricted to only one free open account per individual, family, household
                                address, email address, telephone number,
                                bank account and IP address.</P>
                            <P> 2. Our offers are intended for recreational players only and M88 may in our sole discretion
                                limit the eligibility of customers to
                                participate in any promotion.</P>
                            <P> 3. We reserve the right to alter, amend or terminate this Promotion, or any aspect of it,
                                at any time and without prior notice.
                                All M88 Terms & Conditions and Rules apply.</P>
                            <P> 4. Zero tolerance for bonus abuse and/or bonus fraud.</P>
    
                            <P> We are aware of Bonus Abuse & Fraud taking place on our products. In light of that and to
                                protect our genuine customers and to allow us to provide more bonuses for them, the
                                following terms are effective forthwith</P>
                            <p>a. Promotions and bonuses are there to reward our valued players – We have a zero tolerance
                                policy on bonus abuse
                                and fraudulent activity. We reserve the right to block bonuses from any player who we deem
                                to be abusing our
                                promotions. If fraudulent activity or abuse is suspected, we reserve the right to remove
                                bonuses and associated
                                winnings from the account and any associated accounts.</p>
                            <p> b. The determination of what constitutes bonus abuse shall be at the sole discretion of the
                                company, but for clarity what
                                will be considered evidence of bonus abuse shall include, but not be limited to, the
                                following examples:</p>
                            <ul>
                                <li> Wagering the bonus money on excluded games</li>
                                <li>Multiple account strategy / proxy account strategy</li>
                                <li>Cross platform betting strategy</li>
                                <li>Arbing of bets</li>
                                <li>Two tier betting strategy</li>
                                <li>Bonus stacking strategy</li>
                                <li> Using a VPN or masking IP address/li> <li>
                                <li> Affiliate CPA or revenue share abuse
                                </li>
                            </ul>
                            <p>c. We reserve the right to review transaction records and logs from time to time and for any
                                reason. If, upon review, we
                                discover a player whom has benefited from promotional funds by participating in betting
                                patterns or strategies at our
                                sole discretion deems to be abusive, we reserve the right to withdraw the bonus amount and
                                any associated winnings.</p>
                            <p> d. We reserve the right to refuse participation in any promotion, set such eligibility
                                criteria for participation in a promotion
                                as it seems fit and will be the sole judge of all promotions and any disputes relating
                                thereto.</p>
                            <p> e. Any person deviating from promotional rules may be disqualified, meaning that the bonus
                                and any associated winnings
                                will be forfeited.</p>
                            <p> f. We reserve the right to end or amend any promotion at any time for any reason without
                                giving notice.</p>
                            <p> g. Withdrawals may be subject to audit and/or identity verification before being processed.
                                You may be requested to
                                furnish proof of identification, address, age and/or proof of deposit, proof of game play
                                or telephone number. Failure to
                                provide this information to us within 72 hours of a request being made may result in the
                                bonus and any associated
                                winnings being withdrawn</p>
                            <p>5. Promoter: 12bet.com.
                            </p>
                            <label>Conversion Table</label>
                            <table>
    
                                <tr>
                                    <th>RMB</th>
                                    <th>USD</th>
                                    <th>MYR</th>
                                    <th>IDR</th>
                                    <th>THB</th>
                                    <th>VND</th>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td>15</td>
                                    <td>50 </td>
                                    <td>150.000</td>
                                    <td>480</td>
                                    <td>300.00</td>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td>15</td>
                                    <td>50 </td>
                                    <td>150.000</td>
                                    <td>480</td>
                                    <td>300.00</td>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td>15</td>
                                    <td>50 </td>
                                    <td>150.000</td>
                                    <td>480</td>
                                    <td>300.00</td>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td>15</td>
                                    <td>50 </td>
                                    <td>150.000</td>
                                    <td>480</td>
                                    <td>300.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>