<div class="container">
        <img class="img-responsive"src="../assets/img/livecasino.png" alt="PREMIER" title="PREMIER" />
        <div class="bottomSlider">
                <ul class="row">
                  <li class="col-md-12 col-lg-2 ">
                    <div class="thubnail">
                      <img src="../assets/img/more/1.png" alt="PREMIER" title="PREMIER" />
                      <h6>SPORTS</h6>
          
                    </div>
                    <button>PLAY NOW</button>
                  </li>
          
                  <li class="col-md-12 col-lg-2 ">
                    <div class="thubnail">
                      <img src="../assets/img/more/2.png" alt="PREMIER" title="PREMIER" />
                      <h6>SPORTS</h6>
                    </div>
                    <button>PLAY NOW</button>
                  </li>
          
                  <li class="col-md-12 col-lg-2 ">
                    <div class="thubnail">
                      <img src="../assets/img/more/3.png" alt="PREMIER" title="PREMIER" />
                      <h6>SPORTS</h6>
          
                    </div>
                    <button>PLAY NOW</button>
                  </li>
                  <li class="col-md-12 col-lg-2 ">
                    <div class="thubnail">
                      <img src="../assets/img/more/4.png" alt="PREMIER" title="PREMIER" />
                      <h6>SPORTS</h6>
                    </div>
                    <button>PLAY NOW</button>
                  </li>
          
                  <li class="col-md-12 col-lg-2 ">
                    <div class="thubnail">
                      <img src="../assets/img/more/5.png" alt="PREMIER" title="PREMIER" />
                      <h6>SPORTS</h6>
          
                    </div>
                    <button>PLAY NOW</button>
                  </li>
          
                  <li class="col-md-12 col-lg-2 ">
                    <div class="thubnail">
                      <img src="../assets/img/more/6.png" alt="PREMIER" title="PREMIER" />
                      <h6>SPORTS</h6>
                    </div>
                    <button>PLAY NOW</button>
                  </li>
          
                </ul>
              </div>
</div>